@import "./mixins";
$lightPinkColor: hsl(321, 100%, 78%);
.communities_section__container {
    padding-top: 150px;
}

.section_heading {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 32px;
}

.communities_section__article {
    @include flex-column;
    text-align: center;
}

.communities__button_container {
    padding-top: 100px;
    padding-bottom: 150px;
}

.start_btn {
    font-size: 18px;
    background-color: $lightPinkColor;
    padding: 16px 40px 16px 40px;
    color: #ffffff;
    border: transparent;
    border-radius: 50px;
    box-shadow: 3px 3px 3px 3px #aaaaaa5b;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.communities__info {
    @include flex-column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 50px;
    .communities__formed {
        padding-bottom: 100px;
    }
    .communities__sent_messages {
        margin-left: -58px;
    }
    span {
        display: block;
    }
    .communities__formed-number,
    .communities_messages_sent_number {
        font-size: 32px;
        line-height: 38px;
        font-weight: 700;
    }
    .communities__formed-text,
    .communities_messages_sent_text {
        font-weight: 600;
        color: #00000073;
    }
}

@media(min-width: 1114px) {
    .communities_section__image img {
        width: 105%;
    }
    .communities__info {
        padding-top: 100px;
        @include flex-row;
        .communities__formed {
            padding-bottom: 0;
        }
    }
}