@import "./mixins";
$pink: hsl(322, 100%, 66%);
$VeryDarkCyan: hsl(192, 100%, 9%);

footer {
    background-image: url(../images/bg-footer-top-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 13% 0 0 0;
    color: #ffffffda;

    .footer_container {
        background-color: $VeryDarkCyan;
    }

    .footer__heading {
        padding-top: 100px;
    }
    .huddle_info {
        .footer__heading {
            svg {
                margin-top: 16px;
            }
            .page__heading-text {
                font-size: 24px;
                line-height: 33px;
            }
        }
    }
    .news_letter h2 {
        text-transform: uppercase;
    }
    article {
        text-align: unset;
        padding: 0 24px;
    }
    .footer__paragraph {
        margin-top: 32px;
        margin-bottom: 32px;
        line-height: 33px;
    }
    form {
        width: 100%;
        label {
            @include flex-column;
            margin-bottom: 16px;
        }
        input {
            padding: 32px;
            // border: transparent;
            outline: none;
        }
        input::placeholder {
            color: #ffffff;
        }
        .footer__button_container {
            @include flex-row;
            justify-content: flex-end;
        }
        .subscribe_btn {
            font-size: 18px;
            font-weight: 600;
            padding: 19px 48px 19px 48px;
            background-color: $pink;
            color: #ffffff;
            border: transparent;
        }
        input,
        .subscribe_btn {
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
        span {
            display: none;
        }
    }
    .contact_container {
        svg {
            margin-right: 8px;
        }
    }
    .phone_contact {
        margin-bottom: 32px;
    }
    .email_contact {
        margin-bottom: 50px;
    }
    .social_media_contact {
        @include flex-row;
        justify-content: unset;
        padding: 0;
        padding-bottom: 32px;
        li {
            margin-right: 16px;
            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    @media (min-width: 1114px) {
        background-image: url(../images/bg-footer-top-desktop.svg);
        padding: 11% 0 0 0;

        .footer_contents_container {
            @include flex-row;
            flex-direction: row-reverse;
            flex-wrap: nowrap; 

            article { 
                padding: 0;
            }
            .news_letter {
                flex-basis: 50%;

                .footer__paragraph { 
                    margin-top: 39px;
                }
            }

            .huddle_info {
                flex-basis: 50%;
                .footer__heading .page__heading-text {
                    font-size: 48px;
                    line-height: 59px;
                }
            }
        } 
        .news_letter h2 { 
            line-height: 59px;
        }

        .footer__paragraph {
            width: 380px;
            margin-top: 39px;
        }
        .footer__paragraph {
            width: 380px; 
        }

        form {
            display: grid;
            grid-template-columns: 60% auto;
            column-gap: 32px;
            margin-top: 46px;
            label {
                margin: 0;
            }

            input {
            padding: 25px;
        }
 
    }
    }
}
