html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: normal;
  font-style: normal;
  font-weight: normal;
  margin: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

button {
  cursor: pointer; }

h1,
h2,
p {
  margin: 0; }

svg,
img {
  max-width: 100%; }

.page_paragraph {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600; }

@media (min-width: 1114px) {
  .main__container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto; } }

article {
  text-align: center; }

header .header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 6px 0 6px; }
  header .header__container h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: unset; }
    header .header__container h1 svg {
      margin-top: 6px; }

header .try-btn {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 23px;
  border: 0.1px solid #ff8fd8;
  color: #ff8fd8;
  padding: 10px 32px 10px 32px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px; }

@media (min-width: 1114px) {
  header .header__container {
    padding: 32px 32px 0 32px; } }

.communities_section__container {
  padding-top: 150px; }

.section_heading {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 32px; }

.communities_section__article {
  display: flex;
  flex-direction: column;
  text-align: center; }

.communities__button_container {
  padding-top: 100px;
  padding-bottom: 150px; }

.start_btn {
  font-size: 18px;
  background-color: #ff8fd8;
  padding: 16px 40px 16px 40px;
  color: #ffffff;
  border: transparent;
  border-radius: 50px;
  box-shadow: 3px 3px 3px 3px #aaaaaa5b;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px; }

.communities__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 50px; }
  .communities__info .communities__formed {
    padding-bottom: 100px; }
  .communities__info .communities__sent_messages {
    margin-left: -58px; }
  .communities__info span {
    display: block; }
  .communities__info .communities__formed-number,
  .communities__info .communities_messages_sent_number {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700; }
  .communities__info .communities__formed-text,
  .communities__info .communities_messages_sent_text {
    font-weight: 600;
    color: #00000073; }

@media (min-width: 1114px) {
  .communities_section__image img {
    width: 105%; }
  .communities__info {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    .communities__info .communities__formed {
      padding-bottom: 0; } }

.growth_section__container,
.conversations_section__container,
.users_section__container {
  padding-top: 100px;
  padding-bottom: 50px; }

.growth_section__article,
.conversations_section__article,
.users_section__article {
  padding-top: 75px; }

@media (min-width: 500px) {
  .growth_section__image_container,
  .conversations_section__image_container,
  .users_section__image_container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .growth_section__image_container img,
    .conversations_section__image_container img,
    .users_section__image_container img {
      max-width: 70%; } }

.building_community_section .building_community_section__container,
.building_community_section .communities__button_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 0; }

@media (min-width: 1114px) {
  .growth_section__container,
  .users_section__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    flex-wrap: nowrap; }
  .conversations_section__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-wrap: nowrap; }
  .growth_section__image_container,
  .conversations_section__image_container,
  .users_section__image_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-end; }
    .growth_section__image_container img,
    .conversations_section__image_container img,
    .users_section__image_container img {
      max-width: 70%; }
  .conversations_section__image_container {
    justify-content: flex-start; }
  .growth_section__article,
  .conversations_section__article,
  .users_section__article {
    max-width: 500px; } }

footer {
  padding: 0 16px 0 16px; }
  footer .huddle_info .footer__heading svg {
    margin-top: 16px; }
  footer .huddle_info .footer__heading .page__heading-text {
    font-size: 24px;
    line-height: 33px; }
  footer .news_letter h2 {
    text-transform: uppercase; }
  footer article {
    text-align: unset; }
  footer .footer__paragraph {
    margin-top: 32px;
    margin-bottom: 32px; }
  footer form {
    padding-bottom: 100px;
    width: 100%; }
    footer form label {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px; }
    footer form input {
      padding: 32px;
      outline: none; }
    footer form input::placeholder {
      color: #ffffff; }
    footer form .footer__button_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      justify-content: flex-end; }
    footer form .subscribe_btn {
      font-size: 18px;
      font-weight: 600;
      padding: 19px 48px 19px 48px;
      background-color: #ff52bf;
      color: #ffffff;
      border: transparent; }
    footer form input,
    footer form .subscribe_btn {
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px; }
    footer form span {
      display: none; }
  footer .phone_contact {
    margin-bottom: 32px; }
  footer .email_contact {
    margin-bottom: 50px; }
  footer .social_media_contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: unset;
    padding: 0;
    padding-bottom: 32px; }
    footer .social_media_contact li {
      margin-left: 16px; }
      footer .social_media_contact li img {
        width: 40px;
        height: 40px; }
